
<div class ="container text-center">

  <p style="color: green"><%= notice %></p>

<h1>Contact me</h1>

<br>

<button class= "button2" ><%= link_to "Send Message", new_contact_path %></button>
<br>

</div>
