<h1>Post#new_post_email</h1>

<%# AQUI PODEMOS PERSONALIZAR NUESTRO SALUDO 👇  %>
<p>
  <%= @greeting %>, find me in app/views/post_mailer/new_post_email.html.erb
</p>

<%= link_to "Show post", post_url(@post, host: 'localhost:3000') %>
